.head-icon {
	padding-right: 50px;
	Font-size: 80px;
	font-style: italic;
	font-weight: 900;
	Text-shadow: 4px 4px 0px #f0ad4e;
}

.container-fluid {
	min-height: 70px;
	padding-top: 30px;
}

.error-empty {
	border-color: red;
}

.select-radio {
	max-width: 25px;
}

ul.sidebar-nav li {
	list-style-type: none;
	color: #FFFFFF;
	padding: 3px;
	border-bottom: solid 1px grey;
	padding: 3px;
}

ul.sidebar-nav li:hover {
	color: #ffffff;
	background-color: #0088cc;
}

ul.sidebar-nav li:hover a {
	color: #ffffff;
	background-color: #0088cc;
}

ul.sidebar-nav li.active {
	color: #ffffff;
	background-color: #0088cc;
}

ul.sidebar-nav li.active a {
	color: #ffffff;
	background-color: #0088cc;
	text-decoration: none;
	min-width:
}

ul.sidebar-nav li a:hover {
	color: #ffffff;
	text-decoration: none;
}

.list-nav-bar {
	margin-top: 100px;
}

.document-div {
	border: solid 1px grey;
	border-radius: 10px;
	margin-top: 50px;
	padding-bottom: 10px;
}

.cards {
	border: solid 1px grey;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888888;
	margin: 20px;
	min-height: 150px;
}

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#sortable li {
	margin: 10px 5px 10px 5px;
	padding: 0.4em;
	padding-left: 1.5em;
	cursor: move;
}

#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

.wrapper-div {
	border: solid 2px grey;
	border-radius: 10px;
	min-height: 200px;
	max-height: 250px;
	overflow: auto;
	margin: 20px;
}

.document-div img {
	width: 70%;
	margin-left: auto;
}

.document-div h3{
	color:#0088cc;
}

.section-head{
	color: #3C763D;
}

button.close {
	font-size: 30pt;
}

button.close:hover {
	color: red;
}

input[type="search"], select[name*="_length"] {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
div .dataTables_length label,div .dataTables_filter label{
	font-weight: normal;
}